@function font-calc($size,$type){
    $font:16;

    @if $type ==h1{
        $font: ($size + 0.2*$size);
    }

    @if $type==h2{
        $font:($size+0.1*$size);
    }

    @else{
        $font:16;
    }

    @return $font + px;
}

.ejemplo{
    font-size: font-calc(16,h2);
}